<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @recipe.dish %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Length:</strong>
  <%= @recipe.length %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
